/* GENREAL */
:root {
    --header-height: 7vh;
}

header {
    background-color: white;
    height: var(--header-height);
    z-index: 1;
}

nav {
    background-color: #051E34;
    background-image: url(./img/sidebar-bg.png);
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
}

main {
    margin-top: var(--header-height);
}

#student {
    background-color: #5593eb;
}


/* icone nav */
.nav-link i {
    width: 15%;
}

/* text */
.responsive-text {
    white-space: nowrap;
}

.table td {
    white-space: nowrap;
}

/* icon bolean small */
#small-logo {
    height: 7vh;
}


/* hover */
.nav-hover:hover {
    background-color: rgb(156, 154, 154);
}

tbody tr:hover {
    background-color: rgb(233, 231, 231);
}