:root {
    --header-height: 8vh;
}


header {
    background-color: red;
    height: var(--header-height);
    z-index: 2;
}

nav {
    background-color: #051E34;
    background-image: url(./img/sidebar-bg.png);
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
}

main {
    margin-top: var(--header-height);
}

main>.row {
    background-color: #5593eb;
}

.nav-link i {
    width: 15%;
}

/* help */